.carousel {
  position: relative;
  /* height: 300px; */
  max-width: 100%;
  overflow: hidden;
  padding-top: 1rem;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
