.carousel {
  position: relative;
  /* height: 300px; */
  max-width: 100%;
  overflow: hidden;
  padding-top: 1rem;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  z-index: 1;
  transition: background 0.3s ease;
}

.prev {
  left: 0;
  justify-content: flex-start;
}

.next {
  right: 0;
  justify-content: flex-end;
}

.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.5);
}

