.sidenav-container {
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
}

mat-sidenav {
  width: 285px;
  height: 100%;
  padding: 32px;
}

.burger-menu {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 20;
}

.exit-sidenav {
  position: absolute;
  top: 1.5rem;
  left: 14rem;
  z-index: 100;
}

.sidenav-title {
  font-family: Forum;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0em;
}

.sidenav-img {
  margin-right: auto;
  margin-left: auto;
}

.sidenav-img img {
  width:100px;
}

@media screen and (min-width: 768px) {
  .nav-bar{
    justify-content: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }

  ul{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
  }

  .nav-bar-list{
    flex-wrap: wrap;
    max-width: 860px;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
  }

  .nav-bar-list-items{
    display: list-item;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  a {
    font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.47;
    letter-spacing: -0.01em;
    padding: 0.75rem 1rem;
  }

  .nav-bar-list-items-anchor{
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    padding: 2px;
  }

  .nav-bar-list-items-anchor.active {
    color: white; /* color when active */
    background-color: lightgray; /* background color when active */
    border-radius: 5px; /* optional, for rounded corners */
    text-decoration: none;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}
