<footer class="footer text-center py-3 shadow">
  <p class="mb-0 text-muted">
    Created by Timothy Jan
    <a href="https://github.com/TimothyJan/TaskTrackr-Frontend" aria-label="Github" class="social-icon">
      <i class="fab fa-github"></i>
    </a>
  <br>
    &copy; <span id="current-year">{{ currentYear }}</span> TimMari All rights reserved
  <br>
    <a href="https://github.com/TimothyJan/TimMari" target="_blank" title="github">
      <img src="assets/images/Social/github.svg" alt="github">
    </a>
  </p>
</footer>
