
.header {
  padding-top: 48px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #B4CFEC;
}

.title {
  font-family: Forum;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0em;
}
