
<div class="info-container">
  <img class="center-block" src="assets/images/Home/1.jpg" alt="Home">
  <h4 class="date-title">What to do?</h4>
  <p>
    In case we can't decide what to do for our dates... And since I document everything...
    Here is a randomizer of every date, restaurant, dessert and hike we've ever done!
  </p>
</div>

<mat-tab-group>
  <mat-tab label="Activity">
    <app-wheel category="activities"></app-wheel>
  </mat-tab>
  <mat-tab label="Restaurants">
    <app-wheel category="restaurants"></app-wheel>
  </mat-tab>
  <mat-tab label="Desserts">
    <app-wheel category="desserts"></app-wheel>
  </mat-tab>
  <mat-tab label="Hikes">
    <app-wheel category="hikes"></app-wheel>
  </mat-tab>
</mat-tab-group>
