.info-container {
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  margin: 0px auto 12px;
  text-align: center;
}

.info-container img {
  max-width: 25%;
  height: auto;
}

.info-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.info-container p {
  text-align: center;
}

.date-title {
  line-height: 1;
  margin: 28px 0px;
  font-family: Cormorant;
  color: black;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
