
<div class="home-item">

  <!-- <img src="assets/images/Home/0.jpeg" alt="Home"> -->
  <img src="assets/images/christmas.jpg" alt="Home">

  <!-- <h4 class="home-title">Happy Anniversary Mari!</h4> -->

  <!-- <div class="wedding-container">
  <p class="wedding-date">August 10, 2024</p>
  <p class="wedding-location">Pasadena, CA, USA</p>
  </div> -->
</div>

<div class="paragraph-container">
  <div class="paragraph-item">
    <p>
      <b>May 6, 2023:</b> Our first date...
    </p>
  </div>

  <div class="paragraph-item">
    <p>
      <b>June 17, 2023:</b> Officially girlfriend and boyfriend..
    </p>
  </div>

  <div class="paragraph-item">
    <p>
      <b>August 10, 2024:</b> Married at Pasadena City Hall!
    </p>
  </div>

  <div class="paragraph-item">
    <img src="assets/images/WasaPon/Wasa5.jpg" alt="WasaPon">
    <p>
      Tim has his quirks: repeating himself, forgetting things, and some funny bad manners, but Mari finds these endearing. Despite her occasional unreasonableness, Tim's patience never wavers.
      Tim shared that his life before Mari was like being on autopilot, doing things because he "should." But meeting Mari gave his life a new purpose. He shifted from "should" to "want" and "do.
    </p>
  </div>

  <div class="paragraph-item">
    <img src="assets/images/WasaPon/Wasa4.jpg" alt="WasaPon">
    <ul><b>Tim's Promises to Mari:</b>
      <li>He <b>WANTS</b> to work hard and gain new knowledge for their future family.</li>
      <li>He <b>WANTS</b> to travel and create unforgettable memories with Mari.</li>
      <li>He <b>WANTS</b> to change his bad habits to be a role model for their future kids.</li>
    </ul>
  </div>

  <div class="paragraph-item">
    <img src="assets/images/WasaPon/Wasa6.jpg" alt="WasaPon">
    <p>
      Through their love, Tim discovered what it truly means to love and be loved. Mari learned that while Tim might lack some common sense, his heart and dedication more than make up for it.
      They are incredibly excited to grow old together, cherishing every moment and looking forward to a beautiful future.
    </p>
  </div>

  <div class="paragraph-item">
    <img src="assets/images/WasaPon/WasaPon1.jpg" alt="WasaPon">
    <h1>
      愛してる!!!!
    </h1>
  </div>
</div>
