.home-title {
  line-height: 1;
  margin: 28px 0px;
  font-family: Cormorant;
  color: black;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
}

.home-item {
  padding: 1px 20px;
  max-width: 550px;
  margin: 0px auto 12px;
  text-align: center;
}

.home-item img {
  max-width: 100%;
  height: auto;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph-item {
  /* display: flex; */
  align-items: center;
  max-width: 630px;
  text-align: center;
  line-height: 1.75;
  font-family: Cormorant;
  letter-spacing: 0px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 6px;
  margin: 12px 0px;
}

.paragraph-item img {
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  height:120px;
}
