.home-title {
  line-height: 1;
  margin: 28px 0px;
  font-family: Cormorant;
  color: var(--primary-color);
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
}

.home-item {
  padding: 1px 20px;
  max-width: 550px;
  margin: 0px auto 12px;
  text-align: center;
}

.home-item img {
  max-width: 100%;
  height: auto;
}

.home-item img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.wedding-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wedding-date {
  font-family: Forum;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0em;
  white-space: pre-wrap;
  margin: 0.5rem;
  color: var(--primary-color);
}

.wedding-location {
  font-family: Forum;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.23;
  text-transform: none;
  letter-spacing: 0em;
  margin-top: 2rem;
  margin: 0.5rem;
  color: var(--secondary-color);
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph-container p {
  font-family: "Noto Serif", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.8;
  letter-spacing: 0.01em;
  max-width: 500px;
  text-align: center;
  padding: 1rem;
  color: var(--secondary-color);
}

.paragraph-item {
  align-items: center;
  max-width: 630px;
  text-align: center;
  line-height: 1.75;
  font-family: Cormorant;
  letter-spacing: 0px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 6px;
  margin: 6px 0px;
}

.paragraph-item img {
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  height:120px;
}

ul {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
  padding: 1rem;
  color: var(--secondary-color);
  border-radius: 8px;
}

li {
  margin: 0px;
  padding: 0px;
}
