
<div class="home-item">

  <h4 class="home-title">Happy Anniversary Mari!</h4>
  <p>June 17, 2023</p>

  <div class = "home-img">
    <img src="assets/images/Home/0.jpeg" alt="Home">
  </div>
</div>

<div class="paragraph-container">
  <div class="paragraph-item">
    <p>
      May 6th, 2023, Mari and Tim met on Hinge. Their first date was around
      12 hours long, it was later confirmed, Mari said Tim talked too much.
      June 17, 2023 Tim asks Mari to be his girlfriend while they were uh doing
      something and she says yes! Then Mari and Tim eat too much and
      get fat, like Tim gained 30lbs at his heaviest omg it was all her fault.
      But they love each other and begin planning a future together. Tim discovers
      what love is :D. Mari discovers Tim lacks some common sense but he makes up for
      it in other ways lol. They are hella excited to grow old together!
    </p>
  </div>
</div>



