
<div class="wheel-container">

  <div class="title-container">
    <div class="wheel-title">
      {{ this.title }}
    </div>
    <div class="wheel-img">
      <img [src]="imageUrl" alt="Wasabi">
    </div>
  </div>

  <div class="wheel" [style.transform]="wheelTransform">
    <div class="segment" *ngFor="let option of options; let i = index" [style.transform]="'rotate(' + (i * segmentAngle) + 'deg)'">
      <div class="segment-text">{{ option }}</div>
    </div>
  </div>
  <div class="wheel-bottom">
    <div class="spin-button-container">
      <button class="spin-button" (click)="spin()">Spin the Wheel</button>
    </div>
  </div>

</div>
